<p>
  device-list works!
</p>
<mat-slider
  thumbLabel
  tickInterval="1"
  min="1"
  max="100"></mat-slider>


  <div class="row">
    <div class="col-md-4" *ngFor="let device of devices">
      <div class="panel " [ngClass]="getColorStatus(device)">
        <div class="panel-heading">
          <h3 class="panel-title">
            <div class="row">
              <div class="col-md-4">{{device.name}} </div>
              <div class="col-md-4"></div>
              <div class="col-md-4"><mat-slide-toggle class="pull-right" [checked]="device.isActive" (change)="onChangeToggle(device)"></mat-slide-toggle></div>            
            </div>
          </h3>
        </div>
        <div class="panel-body">


          <div *ngFor="let section of device.sectionKey">
            <li class="list-group-item">
              {{section.name}}
            </li>
            <table class="table">
              <thead>
                <tr>
             <!-- <th>id</th>
                  <th>Описание</th> -->
                  <th>in/out</th>
                  <th>name</th>
                  <th>value</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let key of section.keys">
             <!-- <th scope="row">{{key.id}}</th>
                  <td>{{key.description}}</td>  -->
                  <td>{{key.typeKey}}</td>
                  <td>{{key.name}}</td>
                  <td>{{key.value}}</td>
                </tr>
              </tbody>
            </table></div>

        </div>
      </div>
    </div>
  </div>



